service cloud.firestore {
  match /databases/{database}/documents {
    match /vehicles/{vehicle} {
      allow read, write: if request.auth.uid == resource.data.owner;
    }
    
    // Make sure the uid of the requesting user matches name of the user
    // document. The wildcard expression {userId} makes the userId variable
    // available in rules.
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
    
    match /maps/{map} {
    	allow read: if request.auth.uid != null;
    }
  }
}